#interface{
	display:none;
	width:100%;	
}
#loader{}

.testlayout{
	padding:10px;
	margin:10px;
/* 	border-style: solid; */
/*     border-width: medium; */
/* 	border-color: black; */
}
.scrollable{
	overflow-y: scroll; 
	overflow-x: scroll;
	height:400px;
	width:400px;
}
.abstractionslider{
	margin-top:10px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:40px;
	}
.parsetholder{
	float:left;
	width: 50%
}
#examplequeriespanel{float:left;
width: 100%}

.abstractionslider label {
  position: absolute;
  width: 20px;
  margin-top: 20px;
  margin-left: -10px;
  text-align: center;
}
.semanticlist{
	width:400px;
}
.semanticlistelement{
	overflow-x: scroll;
	width:350px;
}
.drilldown{width:20px;}


::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

rect {
  stroke: #eee;
  fill: #aaa;
  fill-opacity: .8;
}

rect.parent {
  cursor: pointer;
  fill: steelblue;
}

pre {
  font-size: 18px;
}

line {
  stroke: #000;
  stroke-width: 1.5px;
}


.string, .regexp {
  color: #f39;
}

.keyword {
  color: #00c;
}

.comment {
  color: #777;
  font-style: oblique;
}

.number {
  color: #369;
}

.class, .special {
  color: #1181B8;
}


.inheritance-ico{
	background:url(images/icon-inheritance-view.png); 
    width:16px; 
    height:16px;
    display: block;
    }
    
.templatetext{
/* 	min-width: 150px; */
	padding:25px;
	position: relative;
	display:none;
	background-color:yellow;
    top: 200px;
   
	align:center;
	font-size: 25px;
	}

.templatebrowser {
      width: 400px;
/*       height: 600px; */
      border: 1px solid #ccc;
      margin: 20px;
}
#semanticExplorer{
	padding:10px;
	margin:10px;
	display:none;
}
#iciclePrintout{
	padding:10px;
	margin:10px;
}
.inspect{
	display: inline-block;
	width: 18px;
	vertical-align:middle;
	float:right;
	margin-right:10px;
}
.selectedListElement{
	fill:yellow;
	opacity:1;
	background-color:yellow;
	bgcolor:yellow;
}
/* #semanticExplorerPanel{ */
/* 	display:none; */
/* } */